[Unit]
Description=Private Forgejo Git SSH proxy on NetBird address
After=network-online.target
Wants=network-online.target

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/bin/socat TCP-LISTEN:10022,bind=100.124.39.100,reuseaddr,fork TCP:10.10.10.21:10022

[Install]
WantedBy=multi-user.target
